.side_block{
    padding:20px 18px;
    background-color: #fff;
    width:255px;
    margin:0 auto 0;
    margin-bottom:15px;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 3px;
}

.side_block h4{
    margin-top:20px;
    margin-bottom:0;
}

.side_block .across{
    margin-left:-18px !important;
    width:calc(100% + 36px) !important;
}

h3{
    margin:0 0 11px 0;
    line-height: 25px;
}

.block_edit_icon{
    position: absolute;
    top:10px;
    right:15px;
    cursor: pointer;
    font-size: 13px;
    width:auto !important;
}

.block_edit_icon a{
    color:#555;
    text-decoration: none;
}

.block_edit_icon a:hover{
    color:#EA8C8B;
}

.block_edit_icon{
    opacity: 0;
    transition:0.1s opacity linear;
}

.side_block:hover .block_edit_icon{
    opacity: 1;
}